.fishoilfaq {
    margin-top: 80px;
}

.fishoilFaqContainer {
    display: flex;
    flex-direction: column;

}

.fishoilFaqContainer-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fishoilFaqContainer-header-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.faq-title {
    font-weight: 900;
    font-size: 30px;
}

.faq-para {
    font-weight: 500;
    color: rgb(171, 167, 167);
}


.fishoilFaqContainer-header-image {

    display: flex;
    align-items: center;
    justify-content: center;

}

.header-image {
    width: 300px;
    height: 250px;
}

.faq-label {
    background-color: rgb(58, 57, 57);
    color: rgb(227, 223, 223);
    font-style: italic;
    font-size: 20px;
}