
.paginationComponent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(231, 229, 229);
    height: 100%;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    font-weight: 500;  
   
}

.prevButton ,.paginationNumbers ,.nextButton{   
    cursor: pointer;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prevButton:hover,.paginationNumbers:hover,.nextButton:hover {
    background-color:#d5d3d3 ; 
}

.active {
    color:teal;
    font-size: 20px;
    font-weight: 900;
}

